:root {
    --primaryBlack: #0d0d0d;
    --primaryWhite: #fdfdfd;
    
    --primaryColor: rgb(41, 41, 41);
    --secondaryColor: rgb(99, 99, 99);
    --accentColor1: rgb(0, 217, 255);
    --accentColor2: rgb(255, 0, 149);
    --accentColor3: rgb(183, 0, 255);
}