:root {
    --primaryFontFamily: Helvetica;
    --secondaryFontFamily: 'Lilita One';

    --fontsizeHeadingOne: 9.5rem;
    --fontsizeHeadingTwo: 3.5rem;
    --fontsizeParagraph: 1rem;
    --fontsizeIntro: 2rem;

}