/* Flex classes */
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

/* Desse elementene funker kun om elementet også har flex klassen */
.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

/* Personal styles */
.listStyleRemover {
    list-style-type: none;
}

.noUnderscore {
    text-decoration: none;
}

nav > ul > li > a {
    color: (--primaryWhite);
}
nav > ul > li > a:visited {
    color: (--primaryWhite);
}

/* Responsive sizes */
.widthResponsiveSmall {
    min-width: 50%;
    min-height: 50%;
}

.widthResponsiveBig {
    min-width: 100%;
    min-height: 100%;
}

/* BODY */

.body {
    margin: 0;
}

/* HEADER */
.header {
    margin: 0;
    position: sticky;
    top: 0;
    background-color: var(--primaryColor);
    color: var(--primaryWhite);
    font-family: var(--primaryFontFamily);
    border-bottom: 2px dashed var(--secondaryColor);
}

/* .headerNav {

} */

.headerNavUl {
    list-style-type: none;
    gap: 5rem;
}

#homeA {
    text-decoration: none;
    color: var(--primaryWhite);
    letter-spacing: 4px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: 0.2s;
}

#projectsA {
    text-decoration: none;
    color: var(--primaryWhite);
    letter-spacing: 4px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: 0.2s;
}

#aboutA {
    text-decoration: none;
    color: var(--primaryWhite);
    letter-spacing: 4px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: 0.2s;
}

#homeA:hover {
    color: var(--primaryWhite);
    background-color: var(--accentColor1);
    box-shadow: 0 0 10px var(--accentColor1), 0 0 40px var(--accentColor1), 0 0 80px var(--accentColor1);
    transition-delay: 0.1s;
}

#projectsA:hover {
    color: var(--primaryWhite);
    background-color: var(--accentColor2);
    box-shadow: 0 0 10px var(--accentColor2), 0 0 40px var(--accentColor2), 0 0 80px var(--accentColor2);
    transition-delay: 0.1s;
}

#aboutA:hover {
    color: var(--primaryWhite);
    background-color: var(--accentColor3);
    box-shadow: 0 0 10px var(--accentColor3), 0 0 40px var(--accentColor3), 0 0 80px var(--accentColor3);
    transition-delay: 0.1s;
}

/*
.headerNavA {
    text-decoration: none;
    color: var(--primaryWhite);
    letter-spacing: 4px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: 0.2s;
}

.headerNavA:hover {
    color: var(--primaryWhite);
    background-color: var(--accentColor1);
    box-shadow: 0 0 10px var(--accentColor1), 0 0 40px var(--accentColor1), 0 0 80px var(--accentColor1);
}

.headerNavA:visited {
    text-decoration: none;
    color: var(--primaryWhite);
    letter-spacing: 4px;
    text-transform: uppercase;
}

*/

/* .headerNavLi {
  
} */

/* MAIN */
.main {
    background-color: var(--primaryColor);
    color: var(--primaryBlack);
}

.section {
    min-height: 100vh;
    padding-top: 130px;
}

/* Introduksjonsteksten på forsiden */
#intro {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--primaryWhite);
    font-size: var(--fontsizeIntro);
    padding: 0;
    margin: 0;
  }

/* Navn / overskriften på forsiden */

  h1 {
    font-family: var(--secondaryFontFamily);
    font-size: var(--fontsizeHeadingOne);
    color: var(--accentColor);
    padding: 0;
    margin: 0;
}

/*
To mislykkede tekstanimasjoner

.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
*/
  /* animasjon funker ikke? pga textfill / webkit? Bytte ut med glowing gradient button effekt? */

/*
.name1 {
    animation: glow 8s linear infinite;

  &-gradient {
    color: white;
    background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
    background-size: 300%;
    border-radius: 2em;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      z-index: -1;
      background: inherit;
      background-size: inherit;
      border-radius: 4em;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover::before {
      opacity: 1;
      filter: blur(20px);
      animation: glow 8s linear infinite;
    }
  }
}

@keyframes glow {
  to {
    background-position: 300%;
  }
}
*/

.name:hover {
    cursor: cell;
    background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#4aff3b,#03a9f4);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: animation 20s infinite linear;
}

@keyframes animation {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


h2 {
    font-family: var(--secondaryFontFamily);
    font-size: var(--fontsizeHeadingTwo);
    color: var(--primaryWhite);
    text-transform: uppercase;
}

h3 {
    font-family: var(--secondaryFontFamily);
    font-size: var(--fontsizeHeadingTwo);
}

p {
    font-family: var(--primaryFontFamily);
    font-size: var(--fontsizeParagraph);
}

#home {
    padding-top: 0px;
    margin-top: 0px;
    align-items: center;
}

/* FOOTER */
.footer {
    background-color: var(--primaryColor);
    color: var(--primaryWhite);
    border-top: 2px dashed var(--secondaryColor);
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .footerNav {

} */

.footerNavUl {
    list-style-type: none;
}

.footerNavA {
    text-decoration: none;
}

/* .footerNavLi {

} */

/* Animasjon av footer copyright tekst */

#copyright {
    position: relative;
    font-size: 1.5em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}